.events-header{
  margin-top: 40px;
  font-weight: 700;
  text-align:center;
  text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 6px;
}

.events-section{
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .events-card{
    border: 2px solid #2e952e95;
    margin: 10px 4px;
    transition: .6s ease;
  }
  
  .events-card:hover {
    transform: scale(1.05);
  }
  
  .card-block {
     padding: 10px;
  }
  
  .scrollcards {
    background-color: #ffffffbc;
    overflow: auto;
    white-space: nowrap;
    box-shadow: 1px 2px 5px #228356f0;
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      background: transparent;
  }
  
  div.scrollcards .events-card{
      display: inline-block;
      padding: 14px;
      text-decoration: none;
      height: auto; 
      width: 300px;
  }
  