/* Carousel */

.carousel-page{
    text-align: center;
    position: relative;
    /* padding-top: 30%; */
}

.carousel {
    width:1200px;
    height:400px;
    margin: auto;
    background-size: cover;
}

@media (max-width: 900px) {
    .carousel {
      width:auto;
      height:auto;
    }
}