/* Home File */
.section-2 h1{
    font-weight: 700;
    text-align:center;
    text-decoration: underline;
    text-decoration-color: orange;
    text-decoration-thickness: 6px;
}


/* Carousel Segment */
.carousel-page{
    margin: 0 20px 20px;
}


@media (min-width: 800px){
    .carousel-page{
        /* margin: 0 50px 50px; */
        margin: 10px 100px 10px 100px;
    }
    .carousel-caption{
        margin: 300px;
    }
    .carousel-caption h1{
        font-size: 3.0rem;
    }
}


/* Why Choose Us Segment */
.why-cards{
    margin: 40px;
    border-radius: 20%;
}
.card-components{
    margin: 9px;
    box-shadow: 1px 2px 5px #228356f0;
}

.card-text{
    text-align: center;
    font-size: 1.3rem;
}


/* Buttons */
.view-button{
    margin: 6px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    
  }
  
  .view-button p a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 800;
    padding: 12px;
    background: #228356;
    color: #ffff;
    border: 1px solid #228356;
    border-radius: 5px;
  }
  
  @media (max-width: 500px){
    .view-button p a{
        text-decoration: none;
        font-size: 0.9rem;
        font-weight: 800;
        padding: 7px;
        background: #228356;
        color: #ffff;
        border: 1px solid #228356;
        border-radius: 5px;
      }

  }
