
.contact-container{
    min-height: 100vh;
    padding: 0;
    margin: 10px 0px 200px 0px ;
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px; 
    color: #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.form-inner input, textarea { 
    outline: none;
}

.form-inner h1 {
    margin: 10px;
    font-weight: 800;
    font-weight: 700;
    text-align:center;
    text-decoration: underline;
    text-decoration-color: orange;
    text-decoration-thickness: 6px;
}
.contact-container form {
    position: relative;
    width: 45%;
    border-radius: 30px;
    background: #fff;
    box-shadow: 0px 6px 12px #228356f0;
}
 .form-left-decoration, .form-right-decoration {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 20px;
    /* background: #228356f0; */
}
.form-left-decoration {
    bottom: 60px;
    left: -30px;
}
.form-right-decoration {
    top: 60px;
    right: -30px;
}
.form-left-decoration:before, .form-left-decoration:after,
.form-right-decoration:before, .form-right-decoration:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    background: #228356;
}
.form-left-decoration:before {
    top: -20px;
}
.form-left-decoration:after {
    top: 20px;
    left: 10px;
}
.form-right-decoration:before {
    top: -20px;
    right: 0;
}
.form-right-decoration:after {
    top: 20px;
    right: 10px;
}

.form-inner {
    padding: 40px;
}
.form-inner input, .form-inner textarea {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    background: #22835627;
}
.form-inner textarea {
    resize: none;
}
.contact-button {
    width: 100%;
    margin-top: 20px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 800;
    padding: 12px;
    background: #228356;
    color: #ffff;
    border: 1px solid #228356;
    border-radius: 50px;
}
.contact-button:hover {
    background: #269260dc;
    } 
@media (max-width: 600px) {
    .contact-container form  {
        width: 90%;
    }
}
